.form-list{
    border: 1px solid;
    height: 400px;
    width: 450px;
    overflow-y: scroll;
}
.form-list_message{
    border: 1px solid;
    height: 100%;
}
.form-list_message_content{
    border: 1px solid;
}
.inputData{
    width: 29.6%;
}